table{
    width: 788px;
    height: 788px;
    border-collapse: collapse;
    position: absolute;
    left: 58px;
    top: 58px;
    z-index: 1;
    cursor: pointer;
}
img{
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.count{
    position: absolute;
    left: 950px;
    top: 650px;
    z-index: 1;
}
.player{
    position: absolute;
    left: 950px;
    top: 750px;
    z-index: 1;
}
.reset { 
    position: absolute;
    left: 930px;
    top: 350px;
    z-index :1; 
    width: 200px;
    height: 80px;
    color: orange;
    line-height: 80px;
    border: 3px solid #330000;
    background-color: #663300;
    text-align: center;
    cursor: pointer;
}
.reset:hover{
    color:;
    font-size: 35px;
}
.time{
    position: absolute;
    left: 990px;
    top: 250px;
    z-index: 1;
}
#popup{
    width: 350px;
    height: 200px;
    position: absolute;
    left: 270px;
    top: 350px;
    z-index: 1;
    border: 1px solid black;
    background: #CD853F;
    text-align: center;
    display: none;
}
#popup .title{
    
}
#popup .winner{

}
#popup .again a{
    text-decoration: none;
    position: absolute;
    left: 25px;
    top: 145px;
    cursor: pointer;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    background: #580000;
    color: #CC3333;
}
#popup .again a:hover{
        font-size: 25px;
}
#popup .popupX{
    width: 35px;
    height: 25px;
    background: yellow;
    position: absolute;
    left: 315px;
    top: -20px;
    text-align: center;
    line-height: 25px;
    border: 1px solid gray;
    cursor: pointer;
}
#popup .quit{
    position :absolute;
    left: 200px;
    top: 125px;
    cursor: pointer;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    background: #580000;
    color: #CC3333;
}
#popup .quit:hover{
    font-size: 25px;
}
.back{
    position: absolute;
    left: 930px;
    top: 500px;
    z-index: 1;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background: #663300;
    text-align: center;
    color: orange;
    border: 3px solid #330000;
    cursor: pointer;

}
.back:hover{
    color:;
    font-size: 34px;    
}
.stop{
    position: absolute;
    left: 1050px;
    top: 500px;
    z-index: 1;
    width: 80px;
    height: 42px;
    line-height: 40px;
    background: #663300;
    text-align: center;
    color: orange;
    border: 3px solid #330000;
    cursor: pointer;
}
.stop:hover{
    color:;
    font-size: 34px;
}
#user{
    width: 150px;
    height:86px;
    background: orange;
    border: 1px solid purple;
    position: absolute;
    left: 950px;
    top: 10px;
}
#user .userphoto{
    width: 80px;
}
#user .username{
    position: absolute;
    left: 8px;
    top: 50px;
    font-size: ;
    font-weight: bold;
}
.login{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 270px;
    top: 330px;
    z-index: 1;
    border: 1px solid black;
    background: #CD853F;
    display: none;
}
.login h1{
    text-align: center;  
}
.login img{
    width: 100px;
    position: absolute;
    left: 12px;
    top: 88px;
}
.login form{
    position: absolute;
    left: 130px;
    top: 88px;
}
.login input{
    margin-bottom: 10px;
}
.login .remenber{
    position: absolute;
    left:-4px;
    top: 95px;
}
.login .cheRemenber{
    position: absolute;
    left: 18px;
    top: 80px;
}
.login .auto{
    position :absolute;
    left: 100px;
    top: 95px;
}
.login .cheAuto{
    position: absolute;
    left: 122px;
    top: 80px;
}
.login .enter{
    position: absolute;
    left: 10px;
    top: 120px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}
.login .register{
    text-decoration: none;
    position: absolute;
    left: 310px;
    top: 90px;
}
.login .findPassword{
    text-decoration: none;
    position: absolute;
    left: 310px;
    top: 122px;
}
.login h2{
    width: 35px;
    height: 25px;
    background: yellow;
    position: absolute;
    left: 363px;
    top: -20px;
    text-align: center;
    line-height: 25px;
    border: 1px solid gray;
    cursor: pointer;
}
.login h2:hover{
    
}
.notice{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}